* {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400px;
}

#movies img, #movie img {
  width: 100%;

}
@@media(min-width:960px) {

}
  #movies .col-md-3 .well {
    height: 400px;
  }

  #movies .col-md-3 img {
    height: 280px;
  }
}

nav.navbar.navbar-default {
  background-color: #fff;
}
