@import url('https://fonts.googleapis.com/css?family=Muli|Ovo');

*{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	font-family: Muli, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 17px;
	color: #2A363B;
	line-height: 1.6;
}

#showcase{
	background-image:url('../images/bg2.jpeg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 20px;
}

#showcase h1{
	line-height: 1.2;
	font-family: 'Ovo', sans-serif;
	font-size: 72px;
	text-align: center;
	color: #fff;
}

#showcase p{
	font-size: 24px;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	text-align: justify;
	color: #fff;
}

#showcase .button{
	font-size: 18px;
	text-decoration: none;
	color: #fff;
	border: #2A363B 1px solid;
	padding: 10px 20px;
	border-radius: 10px;
	margin-top: 20px;
}

#showcase .button:hover{
	background: #2A363B;
	color: #fff;
}

#section-a{
	padding: 20px;
	background: #2A363B;
	color: #fff;
	text-align: center;

}

#section-b{
	padding: 20px;
	background: #f4f4f4;
	text-align: center;
}

#section-c{
	display: flex;

}

#section-c div{
	padding: 20px;
}

#section-c .box-1, #section-c .box-3{
	background: #2A363B;
	color: #fff;
}

#section-c .box-2{
	background: #f9f9f9;

}