@import url('https://fonts.googleapis.com/css?family=Fauna+One|Playfair+Display');

html,
body {
    margin: 0;
    padding: 0;
}

.intro {
    background-image: url('../img/bg.jpeg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: center;
    text-align: justify;
}


.content h2 {
    line-height: 1.2;
    font-family: 'Playfair Display', Georgia, serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 70px;
    margin: 0 0 10px 20px;
    border-top: 6px double #fff;
    border-bottom: 6px double #fff;
}

.content p {
    font-family: 'Fauna One', Georgia, serif;
    font-size: 16px;
    color: #fff;
    max-width: 640px;
    text-align: justify;
    margin: 0 0 12px 20px;
    font-weight: bold;
}



@media screen and (max-width: 768px) {
    .content h2 {
        font-size: 250%;
    }
}